html,body{height:100%;margin:0;}
ul,dt,dl,dd,li{margin:0;padding:0;list-style: none;}
a{text-decoration: none;}
*{box-sizing:border-box;}
input:focus{outline:none;}
.app{height:100%;}
.bg-f7{background:#F7F7F7;}
.view{height:100%;overflow:hidden;padding:0 0 0 100px;box-sizing:border-box;}
.header{position:fixed;top:0;left:100px;background:#f5f5f5;width:100%;height:40px;padding:0 10px;line-height:40px;border-bottom:1px solid #f1f1f1;}
.aside{width:100px;height:100%;margin:0 0 0 -100px;background:#447DC8;padding:10px 0 10px 0;float:left;}
.content{width:100%;height:100%;float:left;padding:50px 10px 10px;}
.mt-5{margin-top:5px;}.mt-10{margin-top:10px;}
.row{display:table;}
.col{display:table-cell;}
.v-t{vertical-align: top;}.v-m{vertical-align: middle;}.v-b{vertical-align: bottom;}
.t-r{text-align:right;}.t-l{text-align:left;}.t-c{text-align:center;}
.w{width:100%;}.h{height:100%;}
.btn{display:inline-block;font-size:4px;padding:7px 1.5em;text-indent:0;border-radius:5px;transition:0.3s;cursor: pointer;color:#fff;text-align:center;}
.btn-mini{padding:3px 1em;}
.btn-light{border:1px solid #ccc;color:#999;}
.mid-layout{display:inline-block;width:1200px;margin:0 auto;}
.btn-blue{background:#447DC8;} 
.btn-large{padding:12px 3em;}

.input{display:inline-block;position:relative;}
.input input{font-size:14px;color:#666;padding:10px 1em;width:100%;border:1px solid #ddd;border-radius:3px;transition:0.3s;}
.input input:focus{transform: translateY(-1px);box-shadow:0 1px 5px #ccc;}
.icon-left input{padding-left:40px;}
.input .iconfont{position:absolute;left:0;display:inline-block;width:40px;text-align:center;top:50%;transform: translateY(-50%);font-size:20px;color:#999;}


@font-face {
    font-family: "Capsuula";
    src: url("../fonts/Capsuula.eot"); /* IE9 */
    src: url("../fonts/Capsuula.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("../fonts/Capsuula.woff") format("woff"), /* chrome、firefox */
    url("../fonts/Capsuula.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("../fonts/Capsuula.svg#Capsuula") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}